div.Header{
  position: relative;
}

h1.MainTitle {
/*font-size: 10%;*/
font-size: 3.0vw;
}

div.FeaturedReview{
position: relative;
}

img.porscheHeader {
  max-width: 50%;
  max-height: auto%;
}

img.instagramLink {
  max-width: 50%;
  max-height:50%;
  position: absolute;
  left: 50%;
  margin-right: 0%;

}

h1.MainTitle {
  /*background-color: c8c8c8;*/
  font-family: Segoe UI, Arial;
  font-style: bold;
  padding-left: 12.5%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  font-size: 50px;
  margin-bottom: 0%;
}

ul.HeaderList {
  list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-left: 12.5%;
    padding-bottom: 1%;
    width: 100%;
    background-color: #f1f1f1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

li.HeaderListItems{
  display: inline;
}

li a {
  display: inline;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Segoe UI, Arial;
  font-style: italic;
  font-size: auto;
}

li a:hover {
    background-color: #555;
    color: white;
}

h2.FeaturedText{
  position: absolute;
  font-family: Segoe UI, Arial;
  font-style: italic;
  font-size: 3.0vw;
  color: white;
  top: 10%;
  left: 5%;
  text-shadow: 1px 1px red;
  text-decoration: underline;
}

h3.FeaturedTextBelow{
  position: absolute;
  font-family: Segoe UI, Arial;
  font-size: 2.0vw;
  color: white;
  top: 25%;
  left: 15%;
  /*text-shadow: 1px 1px red;*/
  }
