html, body {margin:0px; padding: 0px;}

.MainTitle {
  /*background-color: c8c8c8;*/
  font-family: Segoe UI, Arial;
  font-style: bold;
  padding-left: 12.5%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  font-size: 50px;
  margin-bottom: 0%;
}

ul.HeaderList {
  list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-left: 12.5%;
    padding-bottom: 1%;
    width: 100%;
    background-color: #f1f1f1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

li.HeaderListItems{
  display: inline;
}

li a {
  display: inline;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Segoe UI, Arial;
  font-style: italic;
  font-size: auto;
}

nav {
    background-color: #34495e;
    height: 80px;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
        margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://img.youtube.com/vi/DOZ7w6MaBgU/maxresdefault.jpg);}
.bg-two {background-image: url(https://img.youtube.com/vi/4E9AQT3Sc-g/maxresdefault.jpg);}
.bg-three {background-image: url(https://img.youtube.com/vi/iyLnOr9EDsw/maxresdefault.jpg);}
.bg-four {background-image: url(https://img.youtube.com/vi/EQsq26pUAZg/maxresdefault.jpg);}
.bg-five {background-image: url(https://img.youtube.com/vi/hRriZdn4LUU/maxresdefault.jpg);}
.bg-six {background-image: url(https://img.youtube.com/vi/JgSU4W8s6fs/maxresdefault.jpg);}
.bg-seven {background-image: url(https://img.youtube.com/vi/eh-F-XYNw4E/maxresdefault.jpg);}


a.CarReviewPhoto {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}


.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}
